.container__news-info-all{
    display: flex;
}

.container__news-info-wrap{
    max-width: 65%;
    max-width: 65%;
    margin-right: 20px;
    margin-top: 30px;
    background-color:#ffff;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0px 16px 24px rgb(0 0 0 / 8%);
    font-size: 1.6rem;
    line-height: 1.6;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.container__news-info-header{
    margin-bottom: 30px;
}

.container__news-info-heading{
    font-size: 3.2rem;
    line-height: 1.4;
    color: var(--heading-color);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.container__news-info-time{
    color: var(--sub-text-color);
    font-weight: 600;
}

.container__news-info-time-icon{

}

.container__news-info-body{

}

.container__news-info-body p {
    margin: 15px 0;
}

.container__news-info-body h1{
    line-height: 1.4;
    color: var(--heading-color);
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

.container__news-info-body img{
    width: 100%;
    margin: 15px 0;
    border-radius: 16px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;

    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}


.container__news-info-body-desc{
    font-weight: 600;
}

.container__news-info-body a{
    display: block;
    font-size: 2rem;
    color: #df5105;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    transition: linear .2s;
    line-height: 2rem;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: linear .2s;
    -moz-transition: linear .2s;
    -ms-transition: linear .2s;
    -o-transition: linear .2s;
}

.container__news-info-body a:hover{
    color: var(--sub-color);
}

.container__news-info-more-wrap{
    margin-top: 30px;

    max-width: 100%;


}

.container__news-info-more-heading{
    font-size: 2rem;
    color: var(--sub-color);
    margin-bottom: 16px;
    padding-top: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.container__news-info-more-list{

}

.container__news-info-more-item{
    display: flex;
    background-color: #fff;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    position: relative;
    right: 0;
    bottom: 0;
    transition: right linear .1s;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    -webkit-transition: right linear .1s;
    -moz-transition: right linear .1s;
    -ms-transition: right linear .1s;
    -o-transition: right linear .1s;
}

.container__news-info-more-item:hover{
    box-shadow: 0px 16px 24px rgb(0 0 0 / 8%);
    right: 1px;
    bottom: 1px;
}

.container__news-info-more-item img {
    width: 170px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.container__news-info-more-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
}

.container__news-info-more-text{
    line-height: 1.4;
    font-size: 1.6rem;
    margin-bottom: 16px;
    color: var(--heading-color);
    line-height: 2rem;
    height: 6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}

.container__news-info-more-text:hover{
    color: var(--primary-color);
}

.container__news-info-more-day{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: var(--sub-text-color);
}

.container__news-info-more-day a{
    color: var(--text-color);
    transition: ease .2s;
    -webkit-transition: ease .2s;
    -moz-transition: ease .2s;
    -ms-transition: ease .2s;
    -o-transition: ease .2s;
}

.container__news-info-more-day a:hover{
    color: var(--primary-color);

}

/* Comment Section */

.container__news-commnet-wrap{
    margin-top: 60px;
    background-color: #ffff;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0px 16px 24px rgb(0 0 0 / 8%);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.container__news-commnet-heading{
    font-size: 2rem;
    padding-bottom: 20px;
    border-bottom: 1px solid #ced4da;
    margin-bottom: 12px;
}

.container__news-commnet-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ced4da;

}

.container__news-commnet-header img{
    width: 52px;
    height: 52px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container__news-commnet-input{
    resize: none;
    outline: none;
    width: 100%;
    margin: 0 8px;
    border: 1px solid #ced4da;
    display: flex;
    padding: 10px;
    font-size: 1.4rem;
    border-radius: 6px;
    align-self: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.container__news-commnet-input::-webkit-scrollbar{
    display: none
}


.container__commnet-box-news{
    padding-top: 16px;
    max-height: 400px;
    overflow-y: hidden;

}
.container__commnet-box-news:hover{
    overflow-y: auto;
}


.container__commnet-box-news:hover .container__commnet-news-box-body-item{
    margin-right: 12px;
}

.container__commnet-news-box-body-item{
    display: flex;
    align-items: center;
    padding: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 16px;
    border-radius: 16px;
    margin-left: 5px;
    margin-right: 5px;
    transition: ease .2s;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    -webkit-transition: ease .2s;
    -moz-transition: ease .2s;
    -ms-transition: ease .2s;
    -o-transition: ease .2s;
}

.container__commnet-news-box-body-img{
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container__commnet-news-box-body-item-content{
    font-size: 1.4rem;
}

.container__commnet-news-box-body-item-content-wrap h2{
    color: var(--text-color);
    margin-bottom: 8px;
}




/* ---------------------- */
/* Scrollbar */
.container__commnet-box-news::-webkit-scrollbar{
    width: 4px;
    cursor: pointer;
}
  
/* Track */
.container__commnet-box-news::-webkit-scrollbar-track{
    background: #dfdfdf;
    border-radius: 10px;
}

  /* Handle */
.container__commnet-box-news::-webkit-scrollbar-thumb{
    background-color: var(--sub-color);
    border-radius: 10px;
    transition: all 0.55s linear;
}



/* Responsive */

/* Mobile & tablet: width <1024px */
@media only screen and (max-width: 63.9375em){
    .container__news-commnet-wrap{
        margin-top: 20px;
    }
    .container__news-info-all{
        flex-direction: column;
    }
    .container__news-info-wrap{
        max-width: 100%;
    }
    .container__news-info-wrap{
        margin-right: 0;
    }
    .container__commnet-box-news{
        overflow-y: auto;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

}

/* Mobie: width < 740px */
@media only screen and (max-width: 46.1875em) {

    .container__news-info-more-item img{
        width: 150px;
    }

    .container__news-commnet-header{
        flex-wrap: wrap;
    }
    .container__news-commnet-input{
        width: 80%;
        margin-left: 0;
        margin-right: 0;
    }

    .container__news-commnet-header img{
        width: 45px;
        height: 45px;
        margin: auto;
    }

    .container__news-commnet-btn{
        width: 100%;
        margin-top: 15px;
    }

}

/* PC Low */
@media (min-width: 1024px) and (max-width: 1239px) { 

}

/* PC: width >= 1024px */
@media only screen and (min-width: 64em) {

}
